
@{
    ViewBag.Title = "Projects";
}

<style>
    nav > ul {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    nav > ul > li {
            list-style: none;
    }

    nav > ul > li a {
        text-decoration: none;
        color: black;
        font-size: 24px;
        margin: 10px 5px;
    }
</style>

    <header >
    <h2 > Projects</h2 >
    <nav>
        <ul >
            <li > <a href="https://localhost:44349/" > Home</a > </li >
            <li > <a href="https://localhost:44349/Home/Education" > Education</a > </li >
            <li > <a href="https://localhost:44349/Projects" >Projects</a > </li >
            <li > <a href="https://localhost:44349/Home/Personal" > Personal</a > </li >
            <li > <a href="" > Refference</a > </li>
        </ul>
    </nav >

    </header >
    <main >
        <h2 > Projects Overview</h2 >
        <ul>
            <li>
                <p>
                    Web Technologies: Build a Clinic Management Syastem(CMS). This project has 3
                    types of users Patient, Doctor, and Staff also have one Admin panel. My portion is
                    in this projects staff. In staff, actually what types of action can do that was build it.
                    Staff can make, updat and delete <span>Appointment</span>,<span>Register-Patient</span>,
                    <span>Transaction-details</span>.
                </p>
            </li>
            <li>
                <p>
                    C#: Using the .Net build a Inventory Management System projects in csharp. That actually build a desktop base application
                    which has staff and admin panel.
                </p>
            </li>
        </ul>
    </main >
